/*
Slovenski narečni atlas / Slovenian dialectal atlas
    Copyright (C) 2017  Gregor Šajn

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.
*/

@font-face {
    font-family: ZRCola;
    src: url("fonts/ZRCola.woff") format("woff"), url("fonts/ZRCola.ttf")  format("truetype");
}

@font-face {
    font-family: SIMBola;
    src: url("fonts/SIMBola.woff") format("woff"), url("fonts/SIMBola.ttf")  format("truetype");
}

.ZRCola {
  font-family: ZRCola;
}

.SIMBola {
  font-family : SIMBola;
}

.hidden {
	visibility: none;
}

.bold {
  font-weight: bold;
}

.text18 {
  font-size:16pt;
}

.text12 {
  font-size:12pt;
}

.text14 {
  font-size:14pt;
}



.center-half {
	margin-left:auto;
	margin-right:auto;
  margin-top:auto;
	width:50%;
}

html {
	height:100%;
}

body {
	margin-top:5px;
  margin-bottom:10px;
	padding-left:10px;
	max-width: 100%;
  /*overflow-x: hidden;*/

}

span.glyphicon {
    vertical-align: middle;
    margin-top: -2px;
}

/*
.header {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  padding: 15x;
  padding-top:15px;
  background-color: #eee;
  text-align: center;
}
*/

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30x;
  padding-top:10px;
  background-color: #eee;
  text-align: center;
}

.about {
  color:#777;

}

.about:hover {
  color:#66afe9;
  text-decoration: none;
}

.img-wrap {
  position:relative;
  width:100px;
}

.glyphicon-hover:hover{
    color: #ff0003;
}

.img-wrap .close {
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 100;
    color:#d9534f;
    opacity: 0.7;
}
.img-wrap .close:hover {
  opacity: 1.5;
}

.thumbnail {
    border: 1px solid #ddd; 
    border-radius: 4px;  
    padding: 3px;
    width: 100px; 
    height:100px;
}

.thumbnail:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    cursor:pointer;
}

.upload-btn {
  padding-top:10px;
}

.disabled-btn {
  cursor:default;
  pointer-events: none;
  background-color:#d5d5d5;
  border-color:#d3d3d3;
}


/*tables*/
.table-striped {
	cursor:pointer;
}
/*eof tables*/

/*navs*/
.nav-bordered {
	border: 1px #eee solid;
	border-radius:5px;
	padding:1px;
}

/*containers*/
.container-panel {
	border-left:1px solid #eee;
	border-right:1px solid #eee; 
	height:100%;
}
.container-data {
	max-width: 100%;
}

.container-first-page {
  border-left:2px solid #eee;
  border-bottom:2px solid #eee;
  border-radius: 4px;
}

.map-view-margin{
  margin-left:15px !important;
}

.list {
  max-height:700px;
  overflow: auto;
  overflow-x: hidden;
}

/*eof containers*/

/*forms*/
.input-md {
	width:200px;
}
.input-l {
	width:400;
}


.panel-border {
  border: 2px solid #bdbdbd;
}

.panel-border:hover{
  border: 2px solid #66afe9;
}

.row-borders {
  border-bottom: 2px solid #eee;
  padding-bottom:20px;
}

.panel-border-heading {
  border-bottom: 2px solid #bdbdbd; 
  background-color:#8BD6FF
}

.panel-border-heading:hover {
  border-bottom: 2px solid #66afe9; 
}



.info-panel {
  height:100%;
}

.info-panel-title {
  padding-top:30px;
  margin-left:15px;
  border-bottom: 2px solid #bdbdbd;
}

.info-panel-title:hover {
  border-bottom: 2px solid #66afe9;
}

.map-title {
  font-size:14pt;
}

.info-panel-image {
  padding-top:30px;
  margin-left:15px;
  width:100%;
}

.info-panel-image-borders {
  padding: 10px 12px;
  line-height: 1.42857143;

  background-color: #fff;
  padding: 8px;
  border: 2px solid #bdbdbd;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.info-panel-image-borders:hover {
  border: 2px solid #66afe9;
}

.info-panel-comment {
  margin-left:15px;
}

.info-panel-btn {
  border: 1px solid #bdbdbd;
  background-color: #ffffff;
}


.info-panel-btn:hover {
  border: 1px solid #66afe9;
  background-color: #B7E2FF;
}

.textarea-size {
  max-width:500px;
  max-height:300px;
}

/*eof forms*/

/*svg*/
.pins {
  cursor: pointer;
}

.legend {
  max-height: 260px;
  overflow-y: auto; 
  overflow-x: auto;
  margin-bottom: 20px;
}


/*eof svg*/

/*modals*/
.modal-div-vertical-center {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.modal-vertical-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    width:inherit;
    height:inherit;
    margin: 0 auto;
    margin-bottom:200px;
    pointer-events:all;
}

.modal-div-content {
  vertical-align: middle; 
  line-height: 30px;
}

#modal_comment .modal-body {
  min-height:550px;
  height:100%;
}

#modal_iframe {
  min-height:520px;
  width:100%;
  height:100%;

}



/*eof modals*/

/*inputs, forms, buttons*/
.form-border {
   color: #555;
  border-bottom: 1px solid #ccc;
  border-top:0px;

}

.input-short {
  width:60px;
}

.button-medium {
  width:120px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #207acd;
}

input:checked + .slider.round {
    background-color: #207acd;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:focus + .slider.round {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

input:checked + .slider.round:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*eof inputs, forms, buttons*/
